src/main/resources/gun.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.epam.com/guns" xmlns:tns="http://www.epam.com/guns">
  <xs:element name="Gun" type="GunType"/>
  <xs:complexType name="TTCType">
    <xs:sequence>
      <xs:element type="xs:int" name="FiringRange"/>
      <xs:element type="xs:int" name="EffectiveFiringRange"/>
      <xs:element type="tns:Availability" name="CartridgeClipAvailability"/>
      <xs:element type="tns:Availability" name="OpticsAvailability"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModelType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="testAttribute"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="GunType">
    <xs:sequence>
      <xs:element type="ModelType" name="Model"/>
      <xs:element type="tns:Handy" name="Handy"/>
      <xs:element type="xs:string" name="Origin"/>
      <xs:element type="TTCType" name="TTC"/>
      <xs:element type="xs:string" name="Material"/>
    </xs:sequence>
  </xs:complexType>
  <!-- hands count need for using weapon-->
  <xs:simpleType name="Handy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="One_handed"/>
      <xs:enumeration value="Two_handed"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Availability">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Available"/>
      <xs:enumeration value="Unavailable"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
