src/main/resources/gun.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.epam.com/guns" xmlns:tns="http://www.epam.com/guns">
  <xs:element name="gun" type="GunType"/>
  <xs:complexType name="TTCType">
    <xs:sequence>
      <xs:element type="xs:int" name="firingRange"/>
      <xs:element type="xs:int" name="effectiveFiringRange"/>
      <xs:element type="xs:boolean" name="cartridgeClipAvailability"/>
      <xs:element type="xs:boolean" name="opticsAvailability"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GunType">
    <xs:sequence>
      <xs:element type="xs:string" name="model"/>
      <xs:element type="tns:Handy" name="handy"/>
      <xs:element type="xs:string" name="origin"/>
      <xs:element type="TTCType" name="TTC"/>
      <xs:element type="xs:string" name="material"/>
    </xs:sequence>
  </xs:complexType>
  <!-- hands count need for using weapon-->
  <xs:simpleType name="Handy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="One_handed"/>
      <xs:enumeration value="Two_handed"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
